.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}


/* Первая страница */
.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main/bg.jpg) center center/cover no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 250px;
    margin-right: 56px;
}

.header_logo img {
    width: 100%;
}

.header_official {
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 56px;
    margin-right: 100px;
}

.header_official span {
    display: block;
    font-size: 18px;
    margin-top: 12px;
}

.header_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 100px;
}

.header_phone {
    display: block;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px; 
    text-decoration: none;
    transition: 0.5s all;
}

.header_phone:hover {
    color: var(--white-color);
    text-decoration: underline;
}

.button {
    margin-top: 4px;
    border-radius: 5px;
    background-color: var(--red-color);
    width: 150px;
    height: 30px;
    border: none;
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 3px 3px 20px var(--black-color); /* по Х, по У, размер размытия тени, цвет */
    border: none;
}


.promo_wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: 91px;
}

.promo_header {
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.promo_subheader {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 17px;
}

.promo_icons {
    margin-top: 60px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.promo_icon {
    width: 106px;
    text-align: center;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.promo_icon img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button_main {
    width: 300px;
    height: 50px;
    margin-top: 68px;
    font-size: 16px;
}

.promo_link {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
}

.promo_link a {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
}


/* Вторая страница Преимущества */
.advantages {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background: #F6F6F6;
}

.title {
    color: var(--black-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages_wrapper {
    display: flex;
    justify-content: center;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 33%;
    margin-right: 34px;
    margin-left: 34px;
}


.advantages_subheader {
    text-align: center;
    color: var(--black-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.advantages_descr {
    color: var(--black-color);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 20px;
}

.advantages_descr span {
    color: var(--red-color);
    text-decoration-line: underline;
}

.advantages_icon_animated {
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.advantages_icon_animated:hover {
    animation-play-state: paused;
}


/* Третья страница Форма отправки смс */
.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/consultation/bg2.jpg) center center/cover no-repeat;
}

.consultation .title {
    color: var(--white-color);
    font-size: 36px;
    line-height: 54px;
    text-align: left;
}

.consultation_descr {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin-top: 15px;
}


/* Форма отправки смс */
.feed-form {
    margin-top: 36px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.feed-form input {
    height: 50px;
    width: 300px;
    background-color: var(--white-color);
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    color: var(--brown-color);
    font-size: 14px;
    font-weight: 400;
}

.feed-form input :nth-child(3) {
    margin-bottom: 20px;
}

.button_submit {
    font-size: 16px;
    width: 300px;
    height: 58px;
}

.consultation .error {
    border: 1px solid var(--red-color);
}

.consultation label.error {
    color: var(--white-color);
    border: none;
    margin-bottom: 15px;
}

/* Четвертая страница Карусель */
.carousel {
    padding: 81px 0;
}

.carousel_inner {
    position: relative;
    margin: 0 auto;
}

/* Стрелки */
.carousel .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
    border: none;
    background-color: var(--white-color);
}

.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    border: none;
    background-color: var(--white-color);
}

.carousel .prev img, .next img {
    width: 31px;
    height: 50px;
}


/* Картинка в карусели */
.tns-item img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

/* Навигационные точки в карусели */
.tns-nav {
    display: none;
}

.catalog {
    padding-bottom: 100px;
}

.catalog_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.catalog_tab {
    width: 220px;
    height: 50px;
    border: 2px solid var(--grey-color);
    background: var(--white-color);
    color: var(--brown-color);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    transform: skewX(-25deg); /* чтобы сделать прямоугольники скошенные */
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
}


/* При наведении на прямоугольник появляется тень и уходит обводка */
.catalog_tab:hover {
    box-shadow: 3px 3px 20px var(--black-color); /* по Х, по У, размер размытия тени, цвет */
    border: none;
}

.catalog_tab div {
    transform: skewX(25deg);
}

.catalog_tab_active {
    background: var(--red-color);
    color: var(--white-color);
    border: none;
}

.catalog_content {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.catalog_content_active {
    display: flex;
}

.catalog_item {
    margin-bottom: 20px;
    width: 300px;
    min-height: 440px;
    border: 2px solid var(--grey-color);
    background: var(--white-color);
    padding: 20px 20px 26px 20px;
    overflow: hidden;
}

.catalog_item_wrapper {
    display: flex;
    width: calc(200% + 40px);
}

.catalog_item_content {
    width: 50%;
    margin-right: 0;
    transform: translateX(-100%);
    transition: 0.5s all;
}

.catalog_item_content_active {
    transform: translateX(0%);
    margin-right: 20px;
}

.catalog_item_list {
    position: relative;
    width: 50%;
    margin-left: 20px;
    transform: translateX(0%);
    padding-right: 20px;
    transition: 0.5s all;
    padding-left: 19px;
    margin-bottom: 0;
    list-style-type: none;
}

.catalog_item_list_active {
    transform: translateX(-100%);
    margin-left: 0;
}

.catalog_item_list li {
    position: relative;
    color: var(--brown-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 10px;
}

.catalog_item_list li::before {
    content: '';
    position: absolute;
    left: -14px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-color: var(--red-color);
}

.catalog_item_back {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% - 19px));
    display: block;
    color: var(--red-color);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.catalog_item_back:hover {
    color: var(--red-color);
}

.catalog_img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 200px;
}

.catalog_subtitle {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.catalog_descr {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-top: 16px;
}

.catalog_link {
    display: block;
    color: var(--red-color);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: 17px;
}

.catalog_link:hover {
    color: var(--red-color);
}

.catalog_item hr {
    background: var(--grey-color);
    height: 1px;
    margin-top: 19px;
    margin-bottom: 21px;
}

.catalog_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_old_price {
    color: var(--brown-color);
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-decoration-line: line-through;
}

.catalog_new_price {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.catalog_btn {
    width: 135px;
    height: 44px;
    font-size: 14px;
    margin-top: 0;
}

.reviews {
    padding-bottom: 50px;
}

.reviews_item {
    display: flex;
    margin-top: 60px;
}

.reviews_item img {
    margin-right: 61px;
    height: 170px;
}


.reviews_descr_title {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.reviews_descr_title span {
    color: var(--brown-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.reviews_descr_subtitle {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
}

.footer {
    position: relative;
    min-height: 630px;
    width: 100%;
}

.footer_info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 460px;
    min-height: 270px;
    background: var(--red-color);
    padding: 50px 68px 60px 68px;
}

.footer_address {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 36px;
}

.footer_phone {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.footer_social {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white-color);
    border-radius: 100%;
    margin: 0 15px;
}

.footer_social_item img {
    height: 27px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background: rgb(242, 242, 242);
    padding: 38px 40px 40px 40px;
}

.modal_close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: var(--red-color);
    cursor: pointer;
}

.modal_subtitle {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.modal_descr {
    color: var(--black-color);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.feed-form_mt25 {
    margin-top: 25px;
}

.modal_mini {
    min-height: 145px;
}

#consultation, #order, #thanks {
    display: none;
}

.modal .error {
    border: 1px solid var(--red-color);
}

.modal label.error {
    border: none;
    text-align: center;
    margin-bottom: 15px;
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.pageup img {
    width: 100%;
}


/* Анимации  */

@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1); 
    }
}