@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 991px){
    .container {
        padding-left: 20px;
        padding-right: 20px;
    } 

    .header_logo {
        margin-right: 25px;
    }

    .header_official {
        margin-right: 50px;
        margin-left: 25px;
    }

    .header_contacts {
        margin-left: 50px;
    }

    .header_phone {
        font-size: 16px;
    }

    .advantages_item {
        margin-right: 15px;
        margin-left: 15px;
    }

    .advantages_subheader {
        font-size: 15px;
    }

    .advantages_descr br {
        display: none;
    } 


    .consultation .title {
        font-size: 33px;
    }

    .carousel .prev {
        display: none;
    }

    .carousel .next {
        display: none;
    }
    
    .tns-nav {
        display: block;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        left: 50%;
    }

    .tns-nav button {
        width: 9px;
        height: 9px;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        border: 0;
        background: #D0D0D0;
    }

    .tns-nav .tns-nav-active {
        background: #545454;
    }

    .catalog_content {
        justify-content: space-around;
        margin-right: 30px;
        margin-left: 30px;
    }

    .catalog_item {
        margin-right: 5px;
        margin-left: 5px;
    }

    .footer_info {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 115px;
        position: absolute;
        bottom: 0;
        top: 630px;
        padding: 10px 20px 10px 20px;
    }

    .footer_info_link {
        margin-right: 15px;
        margin-top: 15px;
        height: 70px;
    }

    .footer_social {
        height: 70px;
        margin-top: 15px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
    }

    .footer_address {
        display: block;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .footer_phone {
        display: block;
    }

    .pageup {
        bottom: 20px;
        right: 1px;
    }
}

@media screen and (max-width: 767px){
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_official {
        margin-right: 25px;
    }

    .header_official span {
        font-size: 11px;
    }

    .header_contacts {
        margin-left: 25px;
    }

    .header_phone {
        font-size: 14px;
    }

    .button {
        width: 140px;
    }
    
    
    .promo_header {
        font-size: 35px;
    }

    .promo_subheader {
        font-size: 20px;
    }

    .button_main {
        width: 275px;
    }

    .advantages_wrapper {
        display: block;
        margin: 0 auto;
    } 

    .advantages_item {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-top: 60px;
    }

    .advantages_item img {
        display: block;
        margin: 0 auto;
    }


    .catalog_content {
        margin-right: 10px;
        margin-left: 10px;
    }

    .catalog_tab {
        width: 195px;
    }

    .button_submit {
        width: 300px;
    }
}

@media screen and (max-width: 575px){
    .header_official {
        display: none;
    }

    .button_main {
        width: 230px;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        font-size: 15px;
    }

    .promo_header {
        text-align: center;
    }

    .promo_subheader {
        text-align: center;
    }

    .promo_icons {
        width: 90%;
    }

    .promo_wrapper {
        align-items: center;
        margin-top: 70px;
    }

    .promo_link {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .title {
        font-size: 23px;
    }


    .consultation .title {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }

    .consultation .title br {
        display: none;
    }

    .consultation_descr {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
    }

    .consultation_descr br {
        display: none;
    }

    .feed-form {
        margin-top: 36px;
    }

    .feed-form input {
        display: block;
        margin: 0 auto;
        width: 270px;
        margin-bottom: 15px;
    }

    .button_submit {
        display: block;
        margin: 0 auto;
        width: 270px;
        margin-bottom: 15px;
    }

    .catalog_tab {
        width: 155px;
        height: 45px;
        font-size: 16px;
    }

    .reviews_item {
        display: block;
        margin: 0 auto;
    }

    .reviews_item img {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .reviews_descr {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .reviews_descr_title {
        text-align: center;
    }

    .reviews_descr_subtitle {
        font-size: 14px;
    }

    .footer_address {
        font-size: 12px;
    }

    .footer_phone {
        font-size: 18px;
    }

    .footer_social_item {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 481px) {
    .header_logo {
        margin-right: 0;
    }

    .button {
        width: 120px;
        font-size: 11px;
    }

    .button_main {
        width: 230px;
        font-size: 15px;
    }

    .button_submit {
        width: 270px;
        font-size: 16px;
    }

    .header_phone {
        font-size: 13px;
    }

    .catalog_tabs {
        display: block;
        margin: 0 auto;
    }

    .catalog_tab {
        width: 220px;
        height: 50px;
        font-size: 18px;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }

    .catalog_item_wrapper {
        width: calc(200% + 84px);
    }

    .catalog_item_content_active {
        margin-right: 40px;
    }

    .catalog_item {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }

    .catalog_item_list {
        padding-right: 40px;
    }

    .catalog_new_price {
        font-size: 18px;
    }

    .footer_info {
        min-height: 200px;
        display: block;
    }

    .footer_info_link {
        margin-right: 0;
    }

    .footer_address {
        font-size: 17px;
    }

    .footer_social {
        margin-left: 0;
    }

    .modal {
        width: 90%;
    }

    .modal_close {
        top: 2px;
        right: 0;
    }

    .feed-form_mt25 input {
        width: 100%;
    }

    .modal .button_submit {
        width: 100%;
        font-size: 13px;
    }

    .modal_subtitle {
        font-size: 16px;
    }

    .modal_descr {
        font-size: 12px;
    }

}