@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 991px){
    .promo {
        padding: 21px 20px 93px 20px;
    }

    .advantages {
        padding: 73px 20px 65px 20px;
    }

    .advantages_item {
        width: 280px;
        padding: 10px;
    }

    .advantages_descr br {
        display: none;
    }

    .consultation {
        padding: 100px 20px 92px 20px;
    }

    .consultation .title {
        font-size: 33px;
    }

    .carousel .prev {
        display: none;
    }

    .carousel .next {
        display: none;
    }
    
    .tns-nav {
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        left: 50%;
    }

    .tns-nav button {
        width: 9px;
        height: 9px;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        border: 0;
        background: #D0D0D0;
    }

    .tns-nav .tns-nav-active {
        background: #545454;
    }



}

@media screen and (max-width: 767px){
    .container {
        width: 100%;
    }
    
    .header_logo {
        width: 175px;
    }
    
    .header_phone {
        font-size: 17px;
    }

    .header_official {
        font-size: 10px;
    }

    .header_official span {
        font-size: 15px;
    }
    
    .promo_header {
        font-size: 35px;
    }

    .promo_subheader {
        font-size: 20px;
    }

    .button_main {
        width: 275px;
    }

    .advantages_wrapper {
        display: block;
    }

    .advantages_item {
        width: 390px;
        display: block;
        margin: 0 auto;
    }

    .advantages_item img {
        display: block;
        margin: 0 auto;
    }

}

@media screen and (max-width: 575px){
    .header_logo {
        margin-right: 10px;
    }
    
    .header_official {
        display: none;
    }

    .button {
        width: 130px;
    }

    .button_main {
        width: 230px;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .header_phone {
        font-size: 15px;
    }
    
    .promo_header {
        text-align: center;
    }

    .promo_subheader {
        text-align: center;
    }

    .promo_icons {
        width: 90%;
    }

    .promo_wrapper {
        align-items: center;
        margin-top: 70px;
    }

    .promo_link {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .title {
        font-size: 23px;
    }

    .advantages_item {
        width: 290px;
    }

    .consultation {
        padding: 80px 20px 92px 20px;
    }

    .consultation .title {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }

    .consultation .title br {
        display: none;
    }

    .consultation_descr {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
    }

    .consultation_descr br {
        display: none;
    }

    .feed-form {
        display: block;
        margin: 0 auto;
        margin-top: 36px;

    }

    .feed-form input {
        width: 270px;
    }

    .button_submit {
        width: 270px;
    }
}